<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="../node_modules/bootstrap-icons/bootstrap-icons.svg">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
